@import "../../../styles/global-imports";

.services-page-head {
  display: flex;
  justify-content: center;
  position: relative;

  margin: 0 auto;

  width: 100vw;
  height: 776px;
  background: url("../../../images/services/services-head.png") center no-repeat;
  filter: grayscale(100%) sepia(100%) hue-rotate(340deg);

  @include onTablet {
    height: 556px;
  }
  
  @include onMobile {
    background-image: url("../../../images/services/services-head-mobile.png");
    height: 326px;
  }

  &--title {
    position: absolute;
    top: 6%;
    color: $c-black;
  }
}