@import "../../../styles/global-imports";

.services-page-head {
  display: flex;
  justify-content: center;
  position: relative;

  margin: 0 auto;

  width: 100vw;
  max-width: 1440px;

  height: 776px;
  background: url("../../../images/services/services.png") center no-repeat;
  background-size: cover;

  @include onTablet {
    height: 556px;
  }
  
  @include onMobile {
    height: 326px;
  }

  &--title {
    position: absolute;
    top: 6%;
    color: $c-black;
  }
}