@import "../../../styles/global-imports";

.services-description {
  display: flex;
  align-items: center;
  margin-top: 60px;

  @include onMobileAndTablet {
    flex-direction: column;
    gap: 60px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onMobileAndTablet {
      align-items: center;
      text-align: center;
      max-width: 78vw;
    }
  }

  &--title {
    font-weight: 700;
  }

  &-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    border-radius: 4px;
    background-color: $c-secondary;
    
    padding: 4px 22px 4px 12px;
    max-width: 268px;
  
    &::before {
      content: url("../../../images/icons/skr.svg");
      width: 24px;
      height: 24px;
    }
  }

  &__label {
    height: 214px;
    width: 850px;
    background: url("../../../images/icons/label.svg") no-repeat;
    background-size: contain;
    
    @include onMobileAndTablet {
      height: 314px;
      width: 100vw;
      background-position: 10vw;
    }

    @include onMobile {
      height: 34vw;
    }
  }
}
