@import "../../../styles/global-imports";

.hero {
  background: url("../../../images/home/hero.png") no-repeat center;
  background-size: cover;
  width: 100vw;
  max-width: 1440px;
  height: 600px;
  margin-top: 20px;

  @include onMobile {
    height: 680px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 44px;
    position: relative;

    @include onMobileAndTablet {
      padding-top: 30px;
      gap: 0;
    }
  }

  &__arrows {
    height: 500px;
    width: 40px;
    margin-top: 50px;
    background: url("../../../images/icons/arrows-hero.svg") no-repeat center;
    background-size: contain;

    @include onTablet {
      position: absolute;
      left: -60px;
    }

    @include onMobile {
      position: absolute;
      left: -10px;
      top: 214px;
      height: 320px;
      margin-top: 0;
    }
  }

  &--title {
    @extend %italic-text;
    color: $c-white;
  }

  &__main-content {
    margin-top: 20px;
    color: $c-white;

    &--text {
      margin-bottom: 26px;
      width: 556px;

      @include onMobile {
        width: 250px;
        margin-bottom: 10px;
      }
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;

    @include onMobileAndTablet {
      margin-top: 0;
    }

    @include onMobile {
      position: absolute;
      right: 0;
      top: 222px;
    }

    &--item {
      @include onTablet {
        width: 92px;
      }

      @include onMobile {
        width: 80px;
      }  

      &:nth-child(2) {
        filter: grayscale(100%) sepia(100%) hue-rotate(340deg);
      }
    }
  }
}